<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">WebUI</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <hr />
        <span class="title">Библиотекарь</span>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="librmenu" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Книги
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="allreserves" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Бронь
            </NavLink>
        </div>
        <hr />
        <span class="title">Админ</span>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="alluser" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span>  Все пользователи
            </NavLink>
        </div>
        <span class="title">Клиент</span>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="allbooks" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span>  Библиотека
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="reservedbooks" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Бронь пользователя
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
